<hr>
<div class="container py-5">
    <div class="row justify-content-center">
        <h2 class="fw-bold">Qui suis-je ?</h2>
        <img src="../assets/images/qui-suis-je.jpg" alt="Image Java et Spring Boot" width="600px">
        <p class="lead text-muted mb-5">Je suis un <strong>Développeur Freelance</strong> qui crée des Applications élégantes, rapides, évolutives et robustes. <br>
        Je dispense aussi des Formations, à la demande, sur le langage de programmation Java, le Framework Spring, son module Spring Boot et les Technologies associées. 
        Je suis Titulaire du <strong>Titre Professionnel</strong> de <strong>Développeur Web et Web Mobile</strong>.</p>
    </div>
</div>
<hr>
<div class="container mb-5">
    <div class="row">
        <!-- <div class="col-lg-4 mx-auto mb-5">
            <div class="d-flex mb-5 about">
                <span class="material-icons-outlined m-auto text-primary">palette</span>
            </div>
            <h3>Design</h3>
            <p class="text-muted mb-0">Je crée de superbes designs modernes et optimisés pour différents thèmes
                (clairs, sombres, ...)</p>
        </div> -->

        <div class="col-lg-6 mx-auto mb-5">
            <div class="d-flex mb-5 about">
                <span class="material-icons-outlined m-auto text-primary">code</span>
            </div>
            <h3>Développement</h3>
            <p class="text-muted mb-0">Je développe des Applications responsives, évolutives et rapides en utilisant
                les meilleurs standards et pratiques de programmation (Architecture 3 couches, Microservices, Design Patterns, Principes
                SOLID, Test Unitaires, JWT, OAUTH2, GIT, Docker, etc.).
            </p>
            <img src="../assets/images/java-spring-boot.webp" alt="Image Java et Spring Boot" width="400px">
        </div>

        <div class="col-lg-6 mx-auto mb-5">
            <div class="d-flex mb-5 about">
                <span class="material-icons-outlined m-auto text-primary">settings</span>
            </div>
            <h3>Mise en production & Maintenance</h3>
            <p class="text-muted mb-0">Une fois l'Application développée, je vous apprendrai à la mettre en service et à assurer sa maintenance.</p>
        </div>
    </div>
</div>