<div class="container px-5">
    <div class="row align-items-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5">
                <h2 class="text-center fw-bold mb-2">Bienvenue. Je suis Glaz,</h2>
                <h2 class="text-primary text-center fw-bold mb-2">Developpeur Fullstack Freelance <br><span class="springframework">Java - Spring Framework - Spring Boot</span>.</h2>
                <p class="lead text-muted mb-4">
                    Je suis en capacité de vous dispenser des <strong>Formations</strong> de qualité et je suis spécialisé dans <strong>la Conception et la Réalisation d'Applications</strong> à l'aide du langage de programmation <strong>Java</strong>, du <strong>Framework Spring</strong> et de son module <strong>Spring Boot</strong> (Backend). <br>
                    Etant <strong>Développeur Fullstack</strong>, je suis aussi compétent sur les Technologies associées telles que <strong>Thymeleaf</strong>, <strong>Bootstrap</strong>, <strong>React</strong> et <strong>Angular</strong> pour mettre en place le "Frontend" des Applications que je développe. <br>
                    <br>
                     <button type="button" class="btn btn-success">Appeler le : 06 04 56 95 50</button>
                </p>
                <!-- <button type="button" class="btn btn-success">Appeler le : 06 04 56 95 50</button> -->
                <!-- <div class="d-grid gap-3 d-sm-flex justify-content-center">
                    <a href="#about" class="btn btn-primary btn-large text-uppercase">En savoir plus sur Moi
                        <span class="material-icons-outlined ms-2">help_outline</span>
                    </a>
                    <a href="#projects" class="btn btn-outline-primary btn-large text-uppercase">Mes réalisations
                        <span class="material-icons-outlined ms-2">manage_search</span>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="col-xl-5 col-xxl-6 justify-content-center">
            <img src="/assets/images/hero.jpeg" alt="Hero Image" class="img-fluid rounded-3 my-5">
        </div>
    </div>
</div>