<div class="container-fluid">
    <a href="/" class="navbar-brand">
        <span class="material-icons-outlined me-1">important_devices</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success">Appeler le : 06 04 56 95 50</button>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container px-3">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a href="/" class="nav-link me-lg-3">Accueil</a></li>
                <li class="nav-item"><a href="#about" class="nav-link me-lg-3">Qui suis-je ?</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link me-lg-3">Projets</a></li>
                <!-- <li class="nav-item"><a href="#testimonials" class="nav-link me-lg-3">Témoignages</a></li> -->
                <li class="nav-item"><a href="#contact" class="nav-link me-lg-3">Contact</a></li>
            </ul>
        </div>
    </div>
</div>