<div class="container py-5">
    <div class="row justify-content-center">
        <h2 class="fw-bold">Témoignages</h2>
        <p class="lead text-muted mb-5">Lire ce que disent les Clients sur mon Travail</p>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <!-- 1rst Client -->
        <div class="col-lg-4 mx-auto mb-5">
            <div class="text-center fs-4 fst-italic mb-4 px-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="d-flex align-items-center justify-content-center testimonial">
                <img src="./assets/images/user1.png" alt="Client 1" class="rounded-circle me-3">
                <div class="fw-bold">
                    Jean Delabarrière
                    <span class="text-primary mx-1">/</span>
                    CEO, Company 1
                </div>
            </div>
        </div>

        <!-- 2nd Client -->
        <div class="col-lg-4 mx-auto mb-5">
            <div class="text-center fs-4 fst-italic mb-4 px-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="d-flex align-items-center justify-content-center testimonial">
                <img src="./assets/images/user1.png" alt="Client 2" class="rounded-circle me-3">
                <div class="fw-bold">
                    Orland Fouchet
                    <span class="text-primary mx-1">/</span>
                    CEO, Company 2
                </div>
            </div>
        </div>

        <!-- 3rd Client -->
        <div class="col-lg-4 mx-auto mb-5">
            <div class="text-center fs-4 fst-italic mb-4 px-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="d-flex align-items-center justify-content-center testimonial">
                <img src="./assets/images/user1.png" alt="Client 3" class="rounded-circle me-3">
                <div class="fw-bold">
                    Michelle Lemoine
                    <span class="text-primary mx-1">/</span>
                    CEO, Company 3
                </div>
            </div>
        </div>
    </div>
</div>